body{
    font-size: 20px;
    font-family: sans-serif;
    color: #333;
}

.unterschrift{
    font-family: 'Lobster', sans-serif;
}

.question{
    font-weight: 600;
}

#submit:hover{
    background-color: #bd2130;
}